@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>Tecnovoz</h1>
    <p class="lead">Tecnovoz es una empresa de productos de telecomunicaciones.</p>
    <p><a href="#" class="btn btn-primary btn-lg">Más info. &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sobre nosotros</h2>
        <p>
            Somos una gran empresa en el campo de las telecomunicaciones que pone
            a su disposición una gran variedad de productos y servicios; garantizándole
            su total satisfacción.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuestros productos</h2>
        <p>Visite nuestra sección de productos y acceda a grandes descuentos.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Nuestras familias de productos</h2>
        <p>Podrá encontrar toda la familia de productos con la que trabajamos. Desde cables y accesorios a grandes 
        equipos de telecomunicaciones.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>